table
{
    width:85%;
}
th, td
{
 border: 1px solid green;
 text-align: right;
}

th
{
    background-color: rgb(219, 216, 216);
    color: #0ffb59;
    font-weight: bold;
}
tbody tr:nth-child(even)
{
    background-color: cornflowerblue;
}

tbody tr:hover
{
    background-color: pink;
}